<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Индексация</title>
    {% load static %}
    {% load wb_indexer %}

    <link rel="stylesheet" href="{% static 'wb/css/indexer.css' %}">
</head>
<body>
<div class="topic">
    <div class="nav-wrap">
        <p><a href="{% url 'logout' %}">Выйти</a></p>
        <p><a href="{% url 'staff_home' %}">Кабинет</a></p>
    </div>
        <form action="{% url 'wb_indexer' %}" method="post" enctype="multipart/form-data" class="nmid-form">
        {% csrf_token %}
        <h3 class="form-title">Поиск</h3>
        <label class="input-file">
            <input type="text" name="search" placeholder="Найти NMID" class="one-nmid-form">
            <input type="submit" value="&#8594;" class="search-btn">
        </label>
    </form>
    <form action="{% url 'wb_indexer' %}" method="post" enctype="multipart/form-data" class="nmid-form">
        {% csrf_token %}
        <h3 class="form-title">Добавить NMID</h3>
        <label class="input-file">
            <input type="text" name="add_nmid" placeholder="Введите NMID" class="one-nmid-form">
            <input type="submit" value="загрузить" class="submit-btn">
        </label>
    </form>
    <form method="post" enctype="multipart/form-data" action="{% url 'wb_indexer' %}" class="nmid-form">
        {% csrf_token %}
        <h3 class="form-title">Добавить NMID'и</h3>
        <label class="input-file">
            <input type="file" name="file">
            <span class="input-file-btn">Выберите файл</span>
            <input type="submit" value="загрузить" class="submit-btn">
        </label>
    </form>
</div>
<h1 class="table-title">NMID'и</h1>
<table>
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">NMID</th>
        <th scope="col">Название</th>
        <th scope="col">Бренд</th>
        <th scope="col">Ссылка</th>
        <th scope="col">Запрос</th>
        <th scope="col">Удаление</th>
    </tr>
    </thead>
    <tbody>
    {% for data in nmids %}
    <tr>
        <td>{{ nmids|get_dict_key_place:data }}</td>
        <td><a href="{% url 'wb_product_reports_data' nmid=data.nmid %}" class="table-link">{{ data.nmid }}</a></td>
        <td>{{ data.name  }}</td>
        <td>{{ data.brand }}</td>
        <td><a href="{{ data.url }}" class="table-link">Подробнее</a></td>
        {% if data.phrase %}
        <td>{{ data.phrase }}</td>
        {% else %}
        <td>Нет</td>
        {% endif %}
        <td><a href="{% url 'wb:wb_delete_product' nmid=data.nmid %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="0.75em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#133063}</style><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg>
        </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>