<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подробный отчет</title>
    {% load wb_indexer %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'wb/css/indexer_detail.css' %}">
</head>
<body>
<h1>{{ product.nmid }}</h1>
<h2><a href="{{ product.url }}" class="product-link">{{ product.name }}</a></h2>
<div class="tbl-wrap">
<table border="1">
    <thead>
        <tr class="columns">
            <th rowspan="2" colspan="1" scope="col" class="headcol"></th>
            <th rowspan="2" colspan="1" scope="col" class="headcol">Ключевая фраза</th>
            <th rowspan="2" colspan="1" scope="col" class="headcol">Частотность</th>
            <th rowspan="2" colspan="1" scope="col" class="headcol">Категория</th>
            <th rowspan="2" colspan="1" scope="col" class="headcol">Глубина</th>
            {% for report in reports %}
            <th colspan="2" rowspan="1" scope="col" class="long">{{ report.date|date:'d.m' }}</th>
            {% endfor %}
        </tr>
        <tr class="columns">
            {% for report in reports %}
            <th rowspan="1" colspan="1" class="long">Место</th>
            <th rowspan="1" colspan="1" class="long">Акция</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for request in requests %}
    <tr class="tbl-row">
        <th class="headcol numeration">{{ requests|get_dict_key_place:request }}</th>
        <th class="headcol">{{ request }}</th>
        <th>{{ requests|get_dict_frequency:request }}</th>
        <th>{{ requests|get_dict_cat:request }}</th>
        <th>{{ requests|get_dict_req_depth:request }}</th>

        {% for report_info in requests|get_dict_data:request %}
        {% if report_info.req_depth %}
        {% if not report_info.place %}
            <td></td>
        {% elif report_info.place and report_info.place != 1001 %}
        <td>{{ report_info.place }}</td>

        {% else %}
        <td>+</td>
        {% endif %}
        <td></td>
        {% else %}
        <td></td>
        <td></td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>