@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Oswald:wght@500&family=Poppins:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(70, 70, 70);
}

.tools-container {
    display: flex;
}

.container-title {
    font-size: 50px;
}