@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Oswald:wght@500&family=Poppins:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

table {
    width: 1000px;
    color: rgb(0,0,0);
    border-collapse: separate;
    border-spacing: 0;
    border-color: rgb(255,255,255);
    margin-bottom: 20px;
}

tr:nth-child(even) {
  background-color: rgb(215,215,215);
}

thead {
    color: rgb(255,255,255);
    background-color: rgb(22,40,122);
    height: 55px;
    font-size: 35px;
}

td {
    font-size: 20px;
    padding-left: 10px;
    height: 30px;
    color: rgb(0,0,0);
    text-align: center;
    padding: 3px;
}

caption {
    color: rgb(255,255,255);
    background-color: rgb(22,40,122);
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    border-color: rgb(255,255,255);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.pos-scan {
    color: rgb(114,232,117);
}

.neg-scan {
    color: rgb(253,0,17);
}

