<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кабинет</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'account/css/home.css' %}">
</head>
<body>
<nav>
    <a href="{% url 'logout' %}" class="logout">Выйти</a>
</nav>
<div class="container">
<article>
    <h2 class="container-title">Ozon</h2>
    <p class="tool"><a href="{% url 'ozon_indexer' %}">Мониторинг запросов</a></p>
</article>
<article>
  <h2 class="container-title">Wildberries</h2>
  <p class="tool"><a href="{% url 'wb_indexer' %}">Мониторинг запросов</a></p>
  <p class="tool"><a href="{% url 'wb_seo_phrases' %}">Сбор SEO</a></p>
  <p class="tool"><a href="{% url 'wb_supplies' %}">Поставки</a></p>
  <p class="tool"><a href="{% url 'wb_quick_indexation' %}">Проверка индексации<br>товара</a></p>

</article>
<article>
    <h2 class="container-title">Яндекс Маркет</h2>
    <p class="tool"><a href="#">Мониторинг запросов</a></p>
</article>
</div>
</body>
</html>
